//Utils
.container {
	width: 100%;
	padding: 0 1.5rem;
}

.hidden {
	display: none !important;
}

.flex {
	display: flex;
}

.justify-between {
	justify-content: space-between;
}
.item-center {
	align-items: center;
}
